.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 68px;
      height: 32px;
      border-radius: 12%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;
  }
}
